@import url(http://fonts.googleapis.com/css?family=Ubuntu|Droid+Sans);

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
::-moz-selection { background: #E37B52; color: #fff; text-shadow: none; }
::selection { background: #E37B52; color: #fff; text-shadow: none; }

body
{
	font-family:'Droid Sans', sans-serif;
	font-size:10pt;
	color:#555;
	line-height: 25px;
}

a, a:visited
{
	color:#2972A3;
	text-decoration:none;
}

a:hover
{
	color:#72ADD4;
	text-decoration:underline;
}

.wrapper
{
	width:600px;
	margin:0 auto 5em auto;
}

.wrapper>header
{
	text-shadow:1px 1px 0px #fff;
	padding-top:10px;
	line-height: 1.4;
	border-bottom: 1px solid #CCCCCC;
}

.wrapper>header h1
{
	font-size: 28pt;
	font-family: 'Ubuntu';
	margin: 0;
	letter-spacing: 2px;
}

.wrapper>header h2
{
	margin:0;
	color:#888;
	letter-spacing: 2px;
}

.main
{
	overflow:hidden;
}

.clearboth {
    clear: both;
}

/* --- Class bits for the Jukebox --- */
.nowplaying {
    margin-top: 5px;
}

.nowplaying img{
    width: 200px;
    height: 200px;
    float: left;
    border: 1px solid #CCCCCC;
    margin-right: 10px;
}

.nowplaying .songtitle {
    font-size: 2em;
    line-height: 2em;
}

.nowplaying .artistalbum {
    font-size: 1.5em;
    line-height: 1.5em;
}

.lastsong {
    margin-top: 5px;
    margin-left: 50px;
}

.lastsong img{
    width: 150px;
    height: 150px;
    float: left;
    border: 1px solid #CCCCCC;
    margin-right: 10px;
}

.lastsong .songtitle {
    font-size: 1.5em;
    line-height: 1.5em;
}

.lastsong .albumartist {
    font-size: 1.25em;
    line-height: 1.25em;
}

.addWrapper {
    /* border-top: 1px solid #CCCCCC; */
}

.addWrapper img {
    width: 200px;
    height: 200px;
    float: left;
    border: 1px solid #CCCCCC;
    margin-right: 10px;
}

.addLetter {
    font-size: 2em;
    line-height: 0.9em;
    font-family: "Lucida Console", Monaco, monospace;
}

.addWrapper>ul {
    /* display: none; */
}

.songbutton {
    float: right;
}

/* JQuery UI Magic */
h3 {
    margin: 0;
}

ul {
    margin: 0;
    list-style-type: none;
}

.ui-accordian {
    padding: 0;
    margin: 0;
}

.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin-top: 2px;
	padding: 5px 5px 5px 5px;
	min-height: 0; /* support: IE7 */
	outline: none;
}


.ui-widget-content {
	color: #000000;
}

